.wrapper {
  width: 100%;
}

#sidebar {
  // width: 30%;
  position: fixed;
  height: 100vh;
  background: linear-gradient(#262e51, #306eae);
  scroll-behavior: disable;
  z-index: 10000;
  .text-right {
    color: azure;
  }
}

.content{
  margin-left: 33.3%;
}

@media(max-width: 769px){
  #sidebar{
    height: 35vh;
  }
  .content{
    margin-left: 0;
    .aboutme{
      padding-top: 35vh;
    }
  }
}


