.wrapper {
  width: 100%;
}

#sidebar {
  width: 30%;
  position: fixed;
  height: 100vh;
  background: linear-gradient(#262e51, #306eae);
  scroll-behavior: disable;
  .text-center {
    color: azure;
  }
}

@media(max-width: 769px){
  #sidebar{
    height: 35vh;
  }
}

.content{
  margin-left: 30%;
}
