.big-nav {
  width: 100%;
  background-color: rgb(196, 231, 255) !important;
  background-color: #d0dfe0;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}
